@import url("../../../css/common.css");

mui-dialog{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    touch-action: manipulation;
}

.dialog__mask{
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: none;
    background-color: rgba(0, 0, 0, .4);
}

.dialog__wrapper{
    position: absolute;
    background-color: #fff;
    width: 28rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0.8rem;
}

.dialog__header, .dialog__footer {
    height: 4.4rem;
    font-size: var(--text-font-size);
    line-height: 4.4rem;
    text-align: center;
    position: relative;
}

.dialog__header::before,
.dialog__footer::after {
    content: "";
    position: absolute;
    background-color: #ddd;
    left: 0;
    height: 1px;
    width: 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.dialog__header::before {
    bottom: 0;
}

.dialog__footer::before {
    top: 0;
}

.dialog__body{
    padding: 1.5rem;
    min-height: 3rem;
    font-size: var(--text-font-size);
    text-align: center;
}