@import url("../../../css/common.css");

mui-popup{
    display: none;
}

mui-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    touch-action: manipulation;
}

mui-popup .popup__mask{
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: none;
    background-color: var(--masker-bg-color);
}

mui-popup .popup__wrapper{
    position: fixed;
    background-color: #fff;
    width: 100%;
    bottom: 0;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

mui-popup .popup__container {
}

mui-popup .popup__body {
    padding: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 70vh;
    min-height: 25vh;
}

mui-popup .popup__header {
    display: flex;
    position: relative;
    line-height: 2rem;
    font-size: var(--text-font-size);
    padding: 1.5rem;
    text-align: center;
}

mui-popup .popup__header--center {
    text-align: center;
}

mui-popup .popup__header--left{
    text-align: left;
}

mui-popup .popup__header .header__label {
    width: 100%;
}

mui-popup .popup__header .header__close{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='cross' viewBox='0 0 44 44' width='100%25' height='100%25'%3E%3Cpath fill-rule='evenodd' d='M24.008 21.852l8.97-8.968L31.092 11l-8.97 8.968L13.157 11l-1.884 1.884 8.968 8.968-9.24 9.24 1.884 1.885 9.24-9.24 9.24 9.24 1.885-1.884-9.24-9.24z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    height: 2.8rem;
    width: 2.8rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.masker-showUp{
    animation: muiFadeIn 0.2s linear ;
}

.popup-bounceInUp {
    animation: muiBounceInUp 0.2s linear;
}

.popup-fadeOut {
    animation: muiFadeOut 0.2s linear;
}

.popup-slideDown {
    animation: muiSlideOutDown 0.2s linear;
}