@import url("../../../css/common.css");

mui-confirm-dialog{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    touch-action: manipulation;
}

mui-confirm-dialog .dialog__mask{
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: none;
    background-color: var(--masker-bg-color);
}

mui-confirm-dialog .dialog__wrapper{
    position: absolute;
    background-color: #fff;
    width: 28rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0.8rem;
}


mui-confirm-dialog .confirm__message{
    font-size: 1.8rem;
    padding: var(--content-padding);
    text-align: center;
}

mui-confirm-dialog .dialog__footer {
    height: 5rem;
    font-size: var(--text-font-size);
    line-height: 5rem;
    text-align: center;
    position: relative;
    display: flex;
}

mui-confirm-dialog .dialog__footer::after {
    content: "";
    position: absolute;
    background-color: #ddd;
    left: 0;
    height: 1px;
    width: 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

mui-confirm-dialog .dialog__footer::before {
    top: 0;
}

.dialog__footer .dialog__cancel, .dialog__footer .dialog__confirm{
    width: 50%;
    box-sizing: border-box;
    position: relative;
}

.dialog__footer .dialog__cancel::after{
    content: "";
    position: absolute;
    background-color: #ddd;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

.dialog__footer .dialog__confirm{
    color: var(--theme-color);
}

.masker-showUp{
    animation: muiFadeIn 0.2s linear ;
}

.dialog-zoomIn {
    animation: muiZoomIn 0.2s linear;
}

.dialog-fadeOut {
    animation: muiFadeOut 0.2s linear;
}