html,body{
    height: 100%;
    margin: 0;
    overflow: auto;
}

body{
    padding: 1.5rem;
}

.dialog__body{
    max-height: 15rem;
    overflow: auto;
}

.dialog__body p{
    line-height: 2rem;
    color: #888;
}